/*balises*/
h1 {
  font-size: 1.75em;
  margin:0;
}
h2 {
  font-size: 1.25em;
  font-weight: 400;
}
h6 {
  font-size: 0.75em;
  font-weight: 400;
}
p {
  font-size: 1em;
}

/*colors*/
.color-txt {
  color: #272a36;
}
.color-blue {
  color: #192963;
}
.color-white {
  color: #fff;
}
/* background */
.bg-gris {
  background-color: #f0eef1;
}
body {
  font-family: Open Sans, Arial, sans-serif;
  margin:0;
}

/*header*/
header {
  text-align: center;
  background-image: linear-gradient(
    to top right,
    rgba(166, 201, 253, 50),
    rgba(194, 233, 251, 50)
  );
  min-height: 120px;
  padding: 10px;
}
@media (max-width: 768px) {
  header {
    padding: 10px 20px;
  }
}
.date{font-size:  0.8em}

.d-flex-space{
  display: flex;
  margin: 0 auto;
  width:360px;

}
/* ---------------------------------------------------------------------- */
/* LES PUCES : PROMOTION, TOP FORMATION, NOUVEAUTE */

.top,.new, .offre-speciale {
  background-color: #f02878;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  padding: 5px 10px;
  height:15px;
  text-align: center;
  
}
.top, .new{
  margin-top: 10px;
  margin-right: 10px;
  background-color: #d3562b;
  font-size: 0.6em;
  width:58px;
}
.top{
  width:20px;
  background-color: #477fc0;
}

/* ---------------------------------------------------------------------- */
/* LE container central */
/* Selon La nouvelle norme bootstrap 5.2 */
.container {
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1020px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
/* enlever le container */
@media (max-width: 1200px) {
  .rm-container-mb {
    max-width: 100%;
  }
}

/* ---------------------------------------------------------------------- */
/*barre info*/
.info, .info-left {display: flex}

/* ecran au dessus de  768px */
@media (min-width: 1200px) {

  .info {
    justify-content: space-between;
  }
}
.info-left > div {
  padding: 20px 20px 20px 0;
  width: 200px;
}
.info-right {
  padding-top: 20px;
  width: 290px;
  text-align: right;
}
.info-right a {
  font-weight: bold;
  color: #272a36;
}
/* entre 768 px et 1200 px */
@media  (max-width: 1200px) {
  .info-left {
    flex-wrap: wrap;
  }
  .info-left div {
    width: 35%; 
    padding: 14px 0px 14px 15%;
  }
  .info-right {
    padding-top: 36px;
     
  }
}
/* en dessous de 768 px on enlève flex */
@media (max-width: 830px) {
  .info{display:block}
  .info-left div {
    width: 45%; 
    padding-left:5%;
  }
  .info-right {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    text-align: center;
    background-color: #dbdbde;
  }
}

/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/*contenu formation*/
/* au dessus de 1200px  >1200 */
@media (min-width: 1200px) {
  .zone {
    display: flex;
    justify-content: space-between;
  }
  .contenu-left {
    width: 70%;
  }
  .contenu-right {
    width: 316px;
  }
}
/* en desous de 1200 px  < 1200 */
@media (max-width: 1200px) {
  .zone {
    display: flex;
    flex-direction: column-reverse;
  }
  .zone > div {
    width: 90%;
    margin: 0 auto;
  }
}

/* ---------------------------------------------------------------------- */
/* RESERVER  partie de droite*/
.reserver {
  background-color: #272a36;
  padding: 30px 20px 20px;
}
.reserver h2 {
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}
.reserver button {
  display: block;
  margin: 0 auto;
  background-color: #097fc2;
  border: none;
  color: #fff;
  padding: 12px 28px;
  text-decoration: none;
  margin: 20px auto;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #097fc2;
  text-align: center;
}
.reserver button:hover {
  background-color: #272a36;
  border: 2px solid #fff;
}
.reserver p,
a {
  color: #fff;
}
@media (max-width: 1200px) {
  .reserver p {
    text-align: center;
  }
}
/* ---------------------------------------------------------------------- */
/* CPF  partie de droite*/
.encart-cpf {
  padding: 20px;
  display: grid;
  grid-template-columns: 112px auto;
}
.encart-cpf a {
  color: #192963;
}
/* ecran au dessus de 1200 px  > 1200 */
@media (min-width: 1200px) {
  .texte-cpf {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .encart-cpf {
    margin: 20px 0;
  }
}
/* ecran en dessous de 1200 px  < 1200 */
@media (max-width: 1200px) {
  .logo-cpf {
    grid-row: 1 / 3;
  }
  .encart-cpf {
    width: 420px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .encart-cpf > div {
    width: 100%;
    margin: 0 20px;
  }
}
/* ---------------------------------------------------------------------- */
/* petit cadre gris autour de cours officiel */


.officiel {
  margin: 20px 20px 20px 0px;
  padding: 10px;
  border: 1px solid #dbdbde;
  border-radius: 6px;
  float:left;
  text-align: center;
}

.introduction {
  text-align: justify;
}
.video {
  clear: left;
  margin: 40px 0px;
}
/* ---------------------------------------------------------------------- */
/* le cadre des promotions */

.promo {
  background-color: #272a36;
  padding: 20px;
}
.promo h2 {
  margin: 0;
}
.promo > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 840px) {
  .promo > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }

}
.promo > div > div {
  background-color: #fff;
  border-radius: 6px;
  width: 300px; 
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}


/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */

/*menuDetails*/
.menuDetails {
  background-color: #fff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding: 1% 18%;
  display: flex;
  flex-direction: row;
}
.menuDetails-left {
  width: 70%;
  margin-right: 5%;
}
.menuDetails-left > div {
  width: auto;
  margin-right: 20px;
  display: inline-block;
}
.menuDetails-left a {
  color: #272a36;
  text-decoration: none;
}
.menuDetails-left a:active {
  border-bottom: solid 2px #097fc2;
  color: #097fc2;
}
.menuDetails-right {
  flex-basis: 30%;
  text-align: right;
}
/* FIN menuDetails */

.zoneDetails {
  padding: 0% 18% 1%;
  display: flex;
  flex-direction: row;
}
.zoneDetails-left {
  width: 70%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.zoneDetails-right {
  flex-basis: 30%;
}

/* accordion NEW */
.holder {
  padding: 0px;
}
.holder .item {
  border: 1px solid #dee2e6;
  margin: 20px 0px;
}
.holder .item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.holder .item:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.holder .accordion {
  margin: 0;
  color: #097fc2;
  cursor: pointer;
  padding: 1.225rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 1.125rem;
}
.holder .accordion:after {
  content: "\221F";
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: left;
  transform-origin: left;
  float: right;
  font-size: 20px;
  color: #097fc2;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.holder .active,
.holder .accordion:hover {
  background-color: #fff;
  color: #097fc2;
}
.holder .active:after {
  content: "\221F";
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  font-size: 20px;
}
.holder .accordion-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-in-out;
  transition: max-height 0.4s ease-in-out;
  font-size: 1rem;
  line-height: 1.7;
}
/* FIN accordion NEW */
